* {
    padding: 0;
    margin: 0;
}

.block {
    box-sizing: border-box;
}

.block--1 {
    background-color: #f00;
}

.block--2 {
    background-color: #0f0;
}

.block--3 {
    background-color: #00f;
}

.block--4 {
    background-color: #666;
}

body {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
}

@media screen and (orientation:portrait) {
    body {
        width: 100%;
        flex-direction: column;
        position: relative;
    }
    .block {
        width: 100%;
        height: 25%;
    }
}

@media screen and (orientation:landscape) {
    * {
        /*overflow-y: hidden;*/
    }
    body {
        width: 400%;
        overflow-y: hidden;
        flex-direction: row;
        position: relative;
        height: 9999px
    }
    .container {
        width: 100%;
        /*position: fixed;*/
    }
    .block {
        width: 100%;
        height: 100%;
        border: 4px solid black;
        position: fixed;
    }
    .block--1 {
        margin-left: 0;
    }
    .block--2 {
        margin-left: 100%;
    }
    .block--3 {
        margin-left: 200%;
    }
    .block--4 {
        margin-left: 300%;
    }
    /*.content {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 5px solid white;
        text-align: center;
        padding-top: 100px;
        margin: -4px;
        text-transform: uppercase;
        font-size: 40px;
    }*/
}