<div class="blog">
    <div class="container__main blog__container">
        <div class="blog__line"></div>
        <div class="blog__caption">
            company 
            <strong>blog</strong>
        </div>
        <div class="blog__line"></div>
        <img src="/img/slide-1.jpg" alt="" class="blog__img">
        <div class="blog__title">post title</div>
        <div class="blog__data">october 13, 2013</div>
        <div class="blog__title_text">
            Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </div>
        <button class="blog__button">
            Read More
        </button>
        <div class="blog__line"></div>
        <img src="/img/slide-2.jpg" alt="" class="blog__img">
        <div class="blog__title">post title</div>
        <div class="blog__data">october 13, 2013</div>
        <div class="blog__title_text">
            Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </div>
        <button class="blog__button">
            Read More
        </button>
        <div class="blog__line"></div>
        <img src="/img/slide-3.jpg" alt="" class="blog__img">
        <div class="blog__title">post title</div>
        <div class="blog__data">october 13, 2013</div>
        <div class="blog__title_text">
            Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </div>
        <button class="blog__button">
            Read More
        </button>
        <div class="blog__line"></div>
        <div class="blog__buttons_box">
            <button class="buttons__previous_next"><a href="">&#8592; Older</a></button>
            <button class="buttons__previous_next"><a href=""> Newer &#8594;</a></button>
        </div>
    </div>
</div>