<div class="description-wrapper description-wrapper--1">
    <div class="description">
        <h3 class="description__header">стратегическое управление</h3>
        <p class="description__subheader">Cоставить расписание исполнения проекта - определить плановые сроки начала</p>
        <div class="description__main">
            <div class="description__text-block">
                <div class="description__paragraph">
                    <h3>Гибкое планирование проекта </h3>
                    <p>Корректировка плановых дат релизов благодаря динамично-изменяемым расчетным датам и фиксация фактического хода проекта</p>
                </div>
                <div class="description__paragraph">
                    <h3>Приоритетные требования на Roadmap </h3>
                    <p>Отображение длительности выполнения требований в рамках каждой вехи/релиза</p>
                </div>
            </div>
            <div class="description__img-block"><img src="img/description-img-1.png" alt=""></div>
        </div>
    </div>
</div>