<div class="mobile-block change-position">
    <h2>AI</h2>
    <p><span>Измени свою </span>точку зрения на управление проектами</p>
</div>
<div class="descriptions">
    <div class="description-wrapper description-wrapper--1">
        <div class="description description--1">
            <div class="description__header-text">
                <h3 class="description__header">Стратегическое управление</h3>
                <p class="description__subheader">Система автоматизирует 80% рутинных задач менеджмента проекта</p>
            </div>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph" data-point="1">
                        <h3>Гибкое планирование проекта </h3>
                        <p>Корректировка плановых дат вех/релизов благодаря динамично-изменяемым расчетным датам<br> и фиксация фактического хода проекта</p>
                    </div>
                    <div class="description__paragraph" data-point="2">
                        <h3>Приоритетные требования на Roadmap </h3>
                        <p>Отображение длительности выполнения требований в рамках каждой вехи/релиза</p>
                    </div>
                </div>
                <div class="description__img-block">
                    <span data-destination="1" class="description__point"></span>
                    <span data-destination="2" class="description__point"></span>
                    <div class="description__img-wrapper">
                        <img src="img/d-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description-wrapper description-wrapper--2">
        <div class="description description--2">
            <div class="description__header-text">
                <h3 class="description__header">Сокращение разрыва между планом и фактом</h3>
                <p class="description__subheader">Автоматическое построение диаграмм Гантта на основании связей между задачами, исполнителей и приоритетов</p>
            </div>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph" data-point="1">
                        <h3>Диаграмма Гантта для требований </h3>
                        <p>Сравнение планового графика с динамически изменяемым фактическим ходом проекта </p>
                    </div>
                    <div class="description__paragraph" data-point="2">
                        <h3>Диаграмма Гантта для задач</h3>
                        <p>Автоматическое построение графика на причинно-следственных связях и ручное уточнение по связям исполнения</p>
                    </div>
                </div>
                <div class="description__img-block">
                    <span data-destination="1" class="description__point"></span>
                    <span data-destination="2" class="description__point"></span>
                    <div class="description__img-wrapper">
                        <img src="img/d-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description-wrapper description-wrapper--3">
        <div class="description description--3">
            <div class="description__header-text">
                <h3 class="description__header">Управление требованиями</h3>
                <p class="description__subheader">Идентификация, документирование, отслеживание, приоритизация </p>
            </div>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph" data-point="1">
                        <h3>Классификация требований </h3>
                        <p>Требования разбиты по типам и имеют уникальные поля, можно устанавливать взаимосвязи и зависимости</p>
                    </div>
                    <div class="description__paragraph" data-point="2">
                        <h3>Констрейны</h3>
                        <p>К любому типу требования можно указать некоторое правило</p>
                    </div>
                    <div class="description__paragraph" data-point="3">
                        <h3>Приоритеты</h3>
                        <p>Требованиям устанавливаются приоритеты, которые влияют на дальнейшую последовательность исполнения задач</p>
                    </div>
                </div>
                <div class="description__img-block">
                    <span data-destination="1" class="description__point"></span>
                    <span data-destination="2" class="description__point"></span>
                    <span data-destination="3" class="description__point"></span>
                    <div class="description__img-wrapper">
                        <img src="img/d-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description-wrapper description-wrapper--4">
        <div class="description description--4">
            <div class="description__header-text">
                <h3 class="description__header">Планирование спринта </h3>
                <p class="description__subheader">Возможность контролировать задержки и простои в процессе исполнения</p>
            </div>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph" data-point="1">
                        <h3>Учет зависимостей при планировании</h3>
                        <p>Поставив задачу на спринт, система автоматически подтянет все зависимые задачи и распределит их на <br>ожидающий этап и готовый к работе</p>
                    </div>
                    <div class="description__paragraph" data-point="2">
                        <h3>Назначение исполнителей</h3>
                        <p>Автоматическое распределение и мануальное назначение задач между исполнителями с учетом их навыков</p>
                    </div>
                    <div class="description__paragraph" data-point="3">
                        <h3>Нагрузка и простои</h3>
                        <p>Система автоматически отображает нагрузку на исполнителей и их простои</p>
                    </div>
                </div>
                <div class="description__img-block">
                    <span data-destination="1" class="description__point"></span>
                    <span data-destination="2" class="description__point"></span>
                    <span data-destination="3" class="description__point"></span>
                    <div class="description__img-wrapper">
                        <img src="img/d-4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="description-wrapper description-wrapper--5">
        <div class="description description--5">
            <div class="description__header-text">
                <h3 class="description__header">Управление исполнением</h3>
                <p class="description__subheader">Гибкая настройка индивидуальных процессов исполнения</p>
            </div>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph" data-point="1">
                        <h3>Настройка роли</h3>
                        <p>Настройка индивидуального процесса для каждого вида технологии</p>
                    </div>
                    <div class="description__paragraph" data-point="2">
                        <h3>Настройка процеса</h3>
                        <p>Настройка индивидуального поведения исполнителя в каждой роли на процессе</p>
                    </div>
                    <div class="description__paragraph" data-point="3">
                        <h3>Настройка Kanban доски</h3>
                        <p>По выбранному параметру - исполнитель, технология, роль</p>
                    </div>
                </div>
                <div class="description__img-block">
                    <span data-destination="1" class="description__point"></span>
                    <span data-destination="2" class="description__point"></span>
                    <span data-destination="3" class="description__point"></span>
                    <div class="description__img-wrapper">
                        <img src="img/d-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>