<div class="mobile-block change-position">
    <h2>AI</h2>
    <p><span>Измени свою </span>точку зрения на управление проектами</p>
</div>
<div class="descriptions">
    <div class="description-wrapper description-wrapper--1">
        <div class="description description--1">
            <h3 class="description__header">стратегическое управление</h3>
            <p class="description__subheader">Cоставить расписание исполнения проекта - определить плановые сроки начала</p>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph">
                        <h3>Гибкое планирование проекта </h3>
                        <p>Корректировка плановых дат релизов благодаря динамично-изменяемым расчетным датам и фиксация фактического хода проекта</p>
                    </div>
                    <div class="description__paragraph">
                        <h3>Приоритетные требования на Roadmap </h3>
                        <p>Отображение длительности выполнения требований в рамках каждой вехи/релиза</p>
                    </div>
                </div>
                <div class="description__img-block"><img src="img/description-img-1.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="description-wrapper description-wrapper--2">
        <div class="description description--2">
            <h3 class="description__header">ПЛАНИРОВАНИЕ ХОДА ПРОЕКТА</h3>
            <p class="description__subheader">Cоставить расписание исполнения проекта - определить плановые сроки </p>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph">
                        <h3>Автоматизированный расчет </h3>
                        <p>Система проводит автоматизированный расчет моделей хода всего проекта и предлагает менеджеру варианты </p>
                    </div>
                    <div class="description__paragraph">
                        <h3>Легкая навигация между вариантами хода проектов</h3>
                        <p>Плановые диаграммы Ганта, расходования бюджета по месяцам при разных вариантах команд</p>
                    </div>
                </div>
                <div class="description__img-block"><img src="img/description-img-1.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="description-wrapper description-wrapper--3">
        <div class="description description--3">
            <h3 class="description__header">УПРАВЛЕНИЕ ТРЕБОВАНИЯМИ И ИЗМЕНЕНИЯМИ </h3>
            <p class="description__subheader">Cоставить расписание исполнения проекта - определить плановые сроки </p>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph description__paragraph--current">
                        <h3>Типы требований </h3>
                        <p>Требования разбиты по типам и имеют уникальные поля, можно устанавливать взаимосвязи и зависимости</p>
                    </div>
                    <div class="description__paragraph">
                        <h3>Автоматический расчет на что повлияет </h3>
                        <p>Автоматический расчет на каждое изменение - что делается, что уже сделано, что необходимо переделать, какой бюджет и сроки</p>
                    </div>
                    <div class="description__paragraph">
                        <h3>Версионирование требований </h3>
                        <p>Фильтр по вехам/релизам</p>
                    </div>
                </div>
                <div class="description__img-block"><img src="img/description-img-1.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="description-wrapper description-wrapper--4">
        <div class="description description--4">
            <h3 class="description__header">ПЛАНИРОВАНИЕ СПРИНТА </h3>
            <p class="description__subheader">Cоставить расписание исполнения проекта - определить плановые сроки начала и завершения всех работ</p>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph description__paragraph--current">
                        <h3>Зависимые задачи </h3>
                        <p>Поставив задачу на спринт, система автоматически подтянет все зависимые задачи и распределит их на ожидающие и готовые к работе</p>
                    </div>
                    <div class="description__paragraph">
                        <h3>Нагрузка</h3>
                        <p>Система автоматичеси отображает нагрузку на исполнителей и их простои</p>
                    </div>
                    <div class="description__paragraph">
                        <h3>Распределение задач</h3>
                        <p>Автоматическое распределение задач между исполнителями с учетом их навыков</p>
                    </div>
                </div>
                <div class="description__img-block"><img src="img/description-img-1.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="description-wrapper description-wrapper--5">
        <div class="description description--5">
            <h3 class="description__header">УПРАВЛЕНИЕ ИСПОЛНЕНИЕМ</h3>
            <p class="description__subheader">Cоставить расписание исполнения проекта - определить плановые сроки начала и завершения всех работ</p>
            <div class="description__main">
                <div class="description__text-block">
                    <div class="description__paragraph">
                        <h3>Настройка роли</h3>
                        <p>Настройка индивидуального поведения исполнителя в каждой роли на процессе </p>
                    </div>
                    <div class="description__paragraph">
                        <h3>Настройка Kanban</h3>
                        <p>Настройка Kanban доски по выбранному параметру - исполнитель, технология, роль</p>
                    </div>
                    <div class="description__paragraph description__paragraph--current">
                        <h3>Настройка процесса</h3>
                        <p>Настройка индивидуального процесса для каждого вида технологии</p>
                    </div>
                </div>
                <div class="description__img-block"><img src="img/description-img-1.png" alt=""></div>
            </div>
        </div>
    </div>
</div>