<div class="directions">
    <div class="container">
        <h2 class="page-header">Ключевые направления в разработке ПО</h2>
        <p class="directions__subheader">Направлены на сокращение разрыва между планом и фактом</p>
        <div class="directions__list">
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">1</span>Управление проектом. план и отчетность</h3>
                <ul class="direction-item__list">
                    <li>Стратегический менеджмент - от постановки целей до контроля достижений и управление качеством</li>
                    <li>Моделирование команд на проекте</li>
                    <li>Roadmap</li>
                    <li>Отчеты рабочего времени (time sheets) и продуктивности</li>
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">2</span>Управление командой и коммуникация</h3>
                <ul class="direction-item__list">
                    <li>настройка ролей, навыков и доступов</li>
                    <li>совместная работа</li>
                    <li>лента активности команды</li>
                    <li>чат</li>
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">3</span>Управление требованиями</h3>
                <ul class="direction-item__list">
                    <li>классификация требований</li>
                    <li>планирование продукта</li>
                    <li>проектирование функций, интерфейсов, ассетов</li>
                    <li>установление взаимосвязей между требованиями и функциями, между функциями и вехами, между разными функциями</li>
                    <!--<li>планирование пользовательских сценариев</li>
                    <li>проектирование планов тестирования</li>
                    <li>проектная документация</li>-->
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">4</span>Управление процессом реализации проекта</h3>
                <ul class="direction-item__list">
                    <li>Конструктор бизнес процессов под технологии (workflow)</li>
                    <li>Планирование спринта</li>
                    <li>Smart Kanban</li>
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">5</span>Управление ветками программного кода</h3>
                <ul class="direction-item__list">
                    <li>Управление жизненным циклом программного продукта - dev, stage, production, feature, hot fix</li>
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">6</span>Управление качеством</h3>
                <ul class="direction-item__list">
                    <li>Continuous Integration Testing - автоматизированные запуски Unit и сценарных тестов</li>
                    <li>Отчеты об ошибках и автоматизированное создание задач по их исправлению</li>
                    <li>Continuous Deployment - автоматизированная публикация релизов</li>
                    <li>Прохождение мануальных тестов, отчетность</li>
                    <!--<li>Отчет по качеству и рискам</li>-->
                </ul>
            </div>
        </div>
        <p class="desktop-block directions__bottom-text">и еще 750 функций</p>
    </div>
</div>