<div class="directions">
    <div class="container">
        <h2 class="page-header">Ключевые направления в разработке ПО</h2>
        <p class="directions__subheader">Cоставить расписание исполнения проекта - определить</p>
        <div class="directions__list">
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">1</span>Управление проектом. план и отчетность</h3>
                <ul class="direction-item__list">
                    <li>стратегический менеджмент;</li>
                    <li>планирование спринтов, релизов, вех;</li>
                    <li>фиксация рабочего времени (time sheets);</li>
                    <li>риск менеджмент;</li>
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">2</span>Управление командой и коммуникация команды</h3>
                <ul class="direction-item__list">
                    <li>настройка ролей, компетенций и доступов</li>
                    <li>совместная работа</li>
                    <li>лента активности команды</li>
                    <li>чат</li>
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">3</span>Управление требованиями и управление изменениями</h3>
                <ul class="direction-item__list">
                    <li>классификация требований</li>
                    <li>планирование продукта</li>
                    <li>проектирование функций, интерфейсов, ассетов</li>
                    <li>установление взаимосвязей между требованиями и функциями</li>
                    <li>планирование пользовательских сценариев</li>
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">4</span>Управление процессом реализации проекта</h3>
                <ul class="direction-item__list">
                    <li>настройки разных бизнес процессов для разных типов задач (workflow</li>
                    <li>“Kanban” доски</li>
                    <li>управление спринтом (по методологии Scrum)</li>
                    <li>Визирование созданных интерфейсов, программного кода</li>
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">5</span>Управление ветками программного кода</h3>
                <ul class="direction-item__list">
                    <li>Управление жизненным циклом программного продукта - dev, stage, production, feature, hot fix</li>
                </ul>
            </div>
            <div class="direction-item">
                <h3 class="direction-item__header"><span class="direction-item__position">6</span>Управление качеством</h3>
                <ul class="direction-item__list">
                    <li>Continuous Integration Testing - автоматизированные запуски Unit и сценарных тестов</li>
                    <li>Отчеты об ошибках и автоматизированное создание задач по их исправлению</li>
                    <li>Continuous Deployment - автоматизированная публикация релизов</li>
                    <li>Прохождение мануальных тестов, отчетность</li>
                </ul>
            </div>
        </div>
        <p class="directions__bottom-text">и еще 750 функций</p>
    </div>
</div>