<div class="download">
    <div class="container">
        <div class="download__block">
            <img src="img/pdf.png" alt="" class="download__img">
            <h3 class="download__block-header">User <br>documentation</h3>
            <a href="#" class="download__btn" download=""></a>
        </div>
        <div class="download__block">
            <img src="img/pdf.png" alt="" class="download__img">
            <h3 class="download__block-header">Technical documentation</h3>
            <a href="#" class="download__btn" download=""></a>
        </div>
        <div class="download__read">
            <a href="read-img.png" class="download__read-btn">Product sheet </a>
            <p class="download__read-text">See how the product works</p>
        </div>
    </div>
</div>