<header>
    <div class="header-wrapper">
        <div class="container">

            <div class="nav">
                <div class="nav__logo"><a href="#">solidcube.tech</a></div>
                <nav class="nav__menu">
                    <ul class="nav__list">
                        <li>
                            <a href="#">Продукт</a>
                        </li>
                        <li>
                            <a href="#">Новости</a>
                        </li>
                        <li>
                            <a href="#">Прайс</a>
                        </li>
                        <li>
                            <a href="#">Команда</a>
                        </li>
                        <li>
                            <a href="#">Блог</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header-main">
                <h1 class="header-main__header">AI решение для стратегического управления разработкой ПО </h1>
                <p class="header-main__subheader">Для ориентированных на продукт компаниях</p>
                <a href="#" class="header-main__button">ранний доступ</a>
            </div>
        </div>
    </div>
</header>