<header>
    <div class="header-wrapper">
        <div class="container">

            <div class="nav">
                <div class="nav__logo"><a href="#">solidcube.tech</a></div>
                <div class="mobile-block nav__menu-btn">Меню</div>
                <nav class="nav__menu">
                    <ul class="nav__list">
                        <li>
                            <a href="#">Продукт</a>
                        </li>
                        <li>
                            <a href="#">Прайс</a>
                        </li>
                        <li>
                            <a href="#">Портал</a>
                        </li>
                        <li>
                            <a href="#">Войти</a>
                        </li>
                    </ul>
                    <ul class="header__language">
                        <li class='header__current-lang'><a href="">ru</a></li>
                        <li><a href="">en</a></li>
                    </ul>
                </nav>
            </div>

            <div class="header-main">
                <h1 class="header-main__header"><span class="header-main__header--m">Стратегическое управление и автоматизация микроменеджмента</span></h1>
                <p class="desktop-block header-main__subheader">Для проектных менеджеров продуктовых компаний</p>
                <a href="#" class="header-main__button">ранний доступ</a>
            </div>
        </div>
    </div>
</header>