<header class="header">
    <div class="container">
        <div class="header__caption">Business Casual</div>
        <div class="header__location">3481 melrose place | beverly hills, ca 90210 | 123.456.7890 </div>
    </div> 
    <div class="header__navigation">
        <nav class="navigation__item">
            <a href="/">
                home
            </a>
        </nav>
        <nav class="navigation__item">
            <a href="/index_about.html">
                about
            </a>
        </nav>
        <nav class="navigation__item">
            <a href="/index_blog.html">
            blog
            </a>
        </nav>
        <nav class="navigation__item">
            <a href="/index_contact.html">
            contact
            </a>
        </nav>
    </div>
</header>