<div class="description">
    <div class="description__container container__main">
        <div class="description__line"></div>
        <div class="description__caption">
            build a <strong>website visiting</strong> 
        </div>
        <div class="description__line"></div>
        <img src="/img/intro-pic.jpg" alt="" class="description__img">
        <div class="description__text">
            <p class="descroption__text_1">The boxes used in this template are nested inbetween a normal Bootstrap row and the start of your column layout. The boxes will be full-width boxes, so if you want to make them smaller then you will need to customize.</p>
            <p class="descroption__text_2">
            A huge thanks to Death to the Stock Photo for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.
            </p>
        </div>
        <p class="descroption__text_3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
    </div>
</div>

<div class="boxes">
    <div class="boxes__container container__main">
        <div class="boxes__line"></div>
        <div class="boxes__caption">
            beautiful boxes <strong> showcase your content</strong>
        </div>
        <div class="boxes__line"></div>
        <div class="boxes__text">
            <p class="boxes__text_header">
                Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!
            </p>
            <p class="boxes__text_content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
        </div>
    </div>
</div>
