<div>
    <div class="pop-up-layout"></div>
    <div id="pop-up-thank">
        <h2>thank you</h2>
        <h3>we will contact you</h3>
    </div>
    <div id="pop-up" class="pop-up">
        <div class="span pop-up__close"></div>
        <h2 class="pop-up__header">EARLY ACCESS</h2>
        <div class="pop-up__main">
            <div class="pop-up__invite">
                <div class="pop-up__form-header">Enter your invitation code</div>
                <form method="POST" action="javascript:void(null);" id="invite-form">
                    <label for="email">Invitation code</label>
                    <input type="text" autocomplete="off" name="email" placeholder="Input your code" required>
                    <input type="submit" value="Use Invite &amp; Register">
                </form>
            </div>
            <div class="pop-up__or">
                <span>or</span>
            </div>
            <div class="pop-up__registration">
                <div class="pop-up__form-header">Fill out the request form</div>
                <form method="POST" action="javascript:void(null);" id="registration-form">
                    <label for="email">Email</label>
                    <input type="email" autocomplete="off" name="email" placeholder="Input your Email" required>
                    <label for="firstname">Name</label>
                    <input type="text" autocomplete="off" name="firstname" placeholder="Input your name">
                    <label for="company">Company name</label>
                    <input type="text" autocomplete="off" name="company" placeholder="Input your company name" required>
                    <input type="submit" value="Request Invite">
                </form>
            </div>
        </div>
    </div>
    <div class="pop-up" id="pop-up-order">
        <div class="span pop-up__close"></div>
        <h2 class="pop-up__header">ORDER A PRESENTATION</h2>
        <div class="pop-up__main">
            <div class="pop-up__registration">
                <form method="POST" action="javascript:void(null);" id="order-presentation">
                    <label for="email">Email</label>
                    <input type="email" autocomplete="off" name="email" placeholder="Input your Email" required>
                    <label for="name">Name</label>
                    <input type="text" autocomplete="off" name="name" placeholder="Input your name" required>
                    <label for="phone">Phone</label>
                    <input type="text" autocomplete="off" name="phone" placeholder="Input phone number" required>
                    <input type="text" value='1' name="requestforcontact">
                    <input type="submit" value="Order">
                </form>
            </div>
        </div>
    </div>

    <div class="pop-up pop-up--download" id="pop-up-product-sheet">
        <div class="span pop-up__close"></div>
        <h2 data-localestring="base.k118" class="pop-up__header">Product sheet</h2>
        <div class="pop-up__main">
            <div class="pop-up__text">
                <h3 data-localestring="base.k119">Thank you for your interest in our product!</h3>
                <p data-localestring="base.k121">We are working hard on creating a presentation. We want to send you an understandable and beautiful document for whom we created and how our product works!</p>
                <p data-localestring="base.k120">Please, leave your coordinates and as soon as we make a presentation, we will immediately inform you.</p>
                <p data-localestring="base.k124" class="pop-up__team">The Solid Cube Team</p>
            </div>
            <div class="pop-up__registration">
                <form method="POST" action="javascript:void(null);" id="product-sheet">
                    <label for="email">Email</label>
                    <input type="email" autocomplete="off" name="email" placeholder="Input your Email" required>
                    <label for="name">Name</label>
                    <input type="text" autocomplete="off" name="name" placeholder="Input your name" required>
                    <input type="text" value='1' name="requestforcontact">
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>

    <div class="pop-up pop-up--download" id="pop-up-technical-documentation">
        <div class="span pop-up__close"></div>
        <h2 data-localestring="base.k117" class="pop-up__header">Technical documentation</h2>
        <div class="pop-up__main">
            <div class="pop-up__text">
                <h3 data-localestring="base.k119">Thank you for your interest in our product!</h3>
                <p data-localestring="base.k122">We are working hard on creating an API. We want to send you an understandable and beautiful document for whom we created and how our product works!</p>
                <p data-localestring="base.k125">Please, leave your coordinates and as soon as we make an API, we will immediately inform you.</p>
                <p data-localestring="base.k124" class="pop-up__team">The Solid Cube Team</p>
            </div>
            <div class="pop-up__registration">
                <form method="POST" action="javascript:void(null);" id="technical-documentation">
                    <label for="email">Email</label>
                    <input type="email" autocomplete="off" name="email" placeholder="Input your Email" required>
                    <label for="name">Name</label>
                    <input type="text" autocomplete="off" name="name" placeholder="Input your name" required>
                    <input type="text" value='1' name="requestforcontact">
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>

    <div class="pop-up pop-up--download" id="pop-up-user-documentation">
        <div class="span pop-up__close"></div>
        <h2 data-localestring="base.k116" class="pop-up__header">User documentation</h2>
        <div class="pop-up__main">
            <div class="pop-up__text">
                <h3 data-localestring="base.k119">Thank you for your interest in our product!</h3>
                <p data-localestring="base.k123">We are working hard on creating a documentation. We want to send you an understandable and beautiful document for whom we created and how our product works!</p>
                <p data-localestring="base.k126">Please, leave your coordinates and as soon as we make a documentation, we will immediately inform you.</p>
                <p data-localestring="base.k124" class="pop-up__team">The Solid Cube Team</p>
            </div>
            <div class="pop-up__registration">
                <form method="POST" action="javascript:void(null);" id="user-documentation">
                    <label for="email">Email</label>
                    <input type="email" autocomplete="off" name="email" placeholder="Input your Email" required>
                    <label for="name">Name</label>
                    <input type="text" autocomplete="off" name="name" placeholder="Input your name" required>
                    <input type="text" value='1' name="requestforcontact">
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
    <header>
        <div class="header-wrapper">
            <div class="container">

                <div class="nav">
                    <div class="nav__logo"><a href="#">solidcube.tech</a></div>
                    <div class="mobile-block nav__menu-btn">Меню</div>
                    <nav class="nav__menu">
                        <!--<ul class="nav__list">
                            <li>
                                <a href="#" data-localestring="base.k1">Продукт</a>
                            </li>
                            <li>
                                <a href="#" data-localestring="base.k2">Прайс</a>
                            </li>
                            <li>
                                <a href="#" data-localestring="base.k3">Портал</a>
                            </li>
                            <li>
                                <a href="#" data-localestring="base.k4">Войти</a>
                            </li>
                        </ul>-->
                        <ul class="header__language language-list">
                            <li data-lg="ru" class='current-lang'><a href="/ru">ru</a></li>
                            <li data-lg="en"><a href="/en">en</a></li>
                            <!--<li data-lg="jp"><a href="/jp">jp</a></li>-->
                        </ul>
                    </nav>
                </div>

                <div class="header-main">
                    <h1 class="header-main__header">
                        <span data-localestring="base.k5" class="header-main__header--m">Стратегическое управление и автоматизация микроменеджмента</span>
                    </h1>
                    <p data-localestring="base.k6" class="desktop-block header-main__subheader">Для проектных менеджеров продуктовых компаний</p>
                    <a id="early-access" href="javascript:void(0)" data-localestring="base.k7" data-destenation="pop-up" class="header-main__button pop-up-button">ранний доступ</a>
                </div>
            </div>
        </div>
    </header>
    <!---->
    <div class="min-gap desktop-block">
        <div class="container">
            <h2 data-localestring="base.k8" class="page-header">Достижение минимального разрыва между оценочными и реальными сроками работ</h2>
            <div class="min-gap__text-container">
                <div class="min-gap__text-block">
                    <h3 data-localestring="base.k9">Технологии</h3>
                    <p data-localestring="base.k10">Автоматизация процессов и учет изменений в режиме реального времени</p>
                </div>
                <div class="min-gap__text-block">
                    <h3 data-localestring="base.k11">Методологии</h3>
                    <p>Water-Scrum-Fall</p>
                </div>
            </div>
        </div>
    </div>
    <!---->

</div>