<div>
    <!---->
    <div class="video-wrapper">
        <div class="video-block">
            <video poster="/img/video/video.jpg">
                <source src="/img/video/video.webm" type="video/webm">
                <source src="/img/video/video.mp4" type="video/mp4">
                <source src="/img/video/video.mov" type="video/mov"> 
            </video>
            <div class="controllers">
                <div class="video-fullscreen"></div>
                <div class="video-play"></div>
                <div class="video-description">
                    <h3>Roadmap</h3>
                    <p data-localestring="base.k12">Достижение минимального разрыва между оценочными и реальными</p>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="new-capabilities">
        <div class="container">

            <div class="roadmap">
                <h2 class="roadmap__header">Roadmap</h2>
                <div class="roadmap__container">
                    

                    <ul class="roadmap__main">
                        <ul class="roadmap__date-block">
                            <li>Июнь  </li>
                            <li>
                                <span>2017</span>
                                Июль  </li>
                            <li>Авг   </li>
                            <li>Сен   </li>
                            <li>Окт   </li>
                            <li>Нояб  </li>
                            <li>Дек   </li>
                            <li>
                                <span>2018</span>
                                Янв   </li>
                            <li>Фев   </li>
                            <li>Март  </li>
                            <li>Апрель</li>
                            <li>Май   </li>
                            <li>Июнь  </li>
                            <li>Июль  </li>
                        </ul>
                        <li>
                            <span>1</span>
                            The ability to manage much
                        </li>
                        <li>
                            <span>2</span>
                            Image arfifact preview
                        </li>
                        <li>
                            <span>3</span>
                            The ability to increase the number of developers 
                        </li>
                        <li>
                            <span>4</span>
                            The ability to increase the number of developers 
                        </li>
                        <li>
                            <span>5</span>
                            The ability to increase the number of developers 
                        </li>
                        <li>
                            <span>6</span>
                            The ability to increase the number
                        </li>
                    </ul>
                </div>
            </div>

            <!--<h2 data-localestring="base.k13" class="new-capabilities__header">Новые возможности</h2>-->
            
            <div class="requirements">
                <div class="requirement">
                    <div class="requirement__header">
                        <span class="requirement__title">
                            R.1
                            <span class="requirement__star"></span>
                        </span>
                        <span class="requirement__project">
                            Project managment
                            <span class="requirement__hedaer-number">10</span>
                        </span>
                    </div>
                    <div class="requirement__content">
                        The ability to increase the number of developers in the same number of managers.
                    </div>
                    <div class="requirement__footer">
                        <div class="requirement__day">
                            <span></span>
                            22.10.16
                        </div>
                        <div class="requirement__footer-numbers">
                            <span class="requirement__number requirement__number--1">20 </span>
                            <span data-localestring="base.k14" class="requirement__number requirement__number--2">365 д </span>
                            <span class="requirement__number requirement__number--3">10</span>
                        </div>
                        <div class="requirement__progress-block">
                            <span class="requirement__progress-line"><span></span></span>
                            <span class="requirement__progress-line"><span></span></span>
                        </div>
                    </div>
                </div>
                <div class="requirement">
                    <div class="requirement__header">
                        <span class="requirement__title">
                            R.1
                            <span class="requirement__star"></span>
                        </span>
                        <span class="requirement__project">
                            Project managment
                            <span class="requirement__hedaer-number">10</span>
                        </span>
                    </div>
                    <div class="requirement__content">
                        The ability to increase the number of developers in the same number of managers.
                    </div>
                    <div class="requirement__footer">
                        <div class="requirement__day">
                            <span></span>
                            22.10.16
                        </div>
                        <div class="requirement__footer-numbers">
                            <span class="requirement__number requirement__number--1">20 </span>
                            <span data-localestring="base.k14" class="requirement__number requirement__number--2">365 д </span>
                            <span class="requirement__number requirement__number--3">10</span>
                        </div>
                        <div class="requirement__progress-block">
                            <span class="requirement__progress-line"><span></span></span>
                            <span class="requirement__progress-line"><span></span></span>
                        </div>
                    </div>
                </div>
                <div class="requirement">
                    <div class="requirement__header">
                        <span class="requirement__title">
                            R.1
                            <span class="requirement__star"></span>
                        </span>
                        <span class="requirement__project">
                            Project managment
                            <span class="requirement__hedaer-number">10</span>
                        </span>
                    </div>
                    <div class="requirement__content">
                        The ability to increase the number of developers in the same number of managers.
                    </div>
                    <div class="requirement__footer">
                        <div class="requirement__day">
                            <span></span>
                            22.10.16
                        </div>
                        <div class="requirement__footer-numbers">
                            <span class="requirement__number requirement__number--1">20 </span>
                            <span data-localestring="base.k14" class="requirement__number requirement__number--2">365 д </span>
                            <span class="requirement__number requirement__number--3">10</span>
                        </div>
                        <div class="requirement__progress-block">
                            <span class="requirement__progress-line"><span></span></span>
                            <span class="requirement__progress-line"><span></span></span>
                        </div>
                    </div>
                </div>
                <div class="requirement">
                    <div class="requirement__header">
                        <span class="requirement__title">
                            R.1
                            <span class="requirement__star"></span>
                        </span>
                        <span class="requirement__project">
                            Project managment
                            <span class="requirement__hedaer-number">10</span>
                        </span>
                    </div>
                    <div class="requirement__content">
                        The ability to increase the number of developers in the same number of managers.
                    </div>
                    <div class="requirement__footer">
                        <div class="requirement__day">
                            <span></span>
                            22.10.16
                        </div>
                        <div class="requirement__footer-numbers">
                            <span class="requirement__number requirement__number--1">20 </span>
                            <span data-localestring="base.k14" class="requirement__number requirement__number--2">365 д </span>
                            <span class="requirement__number requirement__number--3">10</span>
                        </div>
                        <div class="requirement__progress-block">
                            <span class="requirement__progress-line"><span></span></span>
                            <span class="requirement__progress-line"><span></span></span>
                        </div>
                    </div>
                </div>
                <div class="requirement">
                    <div class="requirement__header">
                        <span class="requirement__title">
                            R.1
                            <span class="requirement__star"></span>
                        </span>
                        <span class="requirement__project">
                            Project managment
                            <span class="requirement__hedaer-number">10</span>
                        </span>
                    </div>
                    <div class="requirement__content">
                        The ability to increase the number of developers in the same number of managers.
                    </div>
                    <div class="requirement__footer">
                        <div class="requirement__day">
                            <span></span>
                            22.10.16
                        </div>
                        <div class="requirement__footer-numbers">
                            <span class="requirement__number requirement__number--1">20 </span>
                            <span data-localestring="base.k14" class="requirement__number requirement__number--2">365 д </span>
                            <span class="requirement__number requirement__number--3">10</span>
                        </div>
                        <div class="requirement__progress-block">
                            <span class="requirement__progress-line"><span></span></span>
                            <span class="requirement__progress-line"><span></span></span>
                        </div>
                    </div>
                </div>
                <div class="requirement">
                    <div class="requirement__header">
                        <span class="requirement__title">
                            R.1
                            <span class="requirement__star"></span>
                        </span>
                        <span class="requirement__project">
                            Project managment
                            <span class="requirement__hedaer-number">10</span>
                        </span>
                    </div>
                    <div class="requirement__content">
                        The ability to increase the number of developers in the same number of managers.
                    </div>
                    <div class="requirement__footer">
                        <div class="requirement__day">
                            <span></span>
                            22.10.16
                        </div>
                        <div class="requirement__footer-numbers">
                            <span class="requirement__number requirement__number--1">20 </span>
                            <span data-localestring="base.k14" class="requirement__number requirement__number--2">365 д </span>
                            <span class="requirement__number requirement__number--3">10</span>
                        </div>
                        <div class="requirement__progress-block">
                            <span class="requirement__progress-line"><span data-progress="20"></span></span>
                            <span class="requirement__progress-line"><span></span></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!---->
    <div class="mobile-block change-position">
        <h2>AI</h2>
        <p data-localestring="base.k26"><span>Измени свою</span>точку зрения на управление проектами</p>
    </div>
    <div class="descriptions">
        <div class="video-wrapper">
            <div class="video-block">
                <video poster="/img/video/video.jpg">
                <source src="/img/video/video.mp4" type="video/mp4">
                <source src="/img/video/video.mov" type="video/mov"> 
                <source src="/img/video/video.webm" type="video/webm">
            </video>
                <div class="controllers">
                    <div class="video-fullscreen"></div>
                    <div class="video-play"></div>
                    <div class="video-description">
                        <h3>Roadmap</h3>
                        <p data-localestring="base.k12">Достижение минимального разрыва между оценочными и реальными</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-wrapper description-wrapper--1">
            <div class="description description--1">
                <div class="description__header-text">
                    <h3 data-localestring="base.k28" class="description__header">Стратегическое управление</h3>
                    <p data-localestring="base.k29" class="description__subheader">Система автоматизирует 80% рутинных задач менеджмента проекта</p>
                </div>
                <div class="description__main">
                    <div class="description__text-block">
                        <div class="description__paragraph" data-point="1">
                            <h3 data-localestring="base.k30">Гибкое планирование проекта</h3>
                            <p data-localestring="base.k31">Корректировка плановых дат вех/релизов благодаря динамично-изменяемым расчетным датам<br> и фиксация фактического хода проекта</p>
                        </div>
                        <div class="description__paragraph" data-point="2">
                            <h3 data-localestring="base.k32">Приоритетные требования на Roadmap </h3>
                            <p data-localestring="base.k33">Отображение длительности выполнения требований в рамках каждой вехи/релиза</p>
                        </div>
                    </div>
                    <div class="description__img-block">
                        <span data-destination="1" class="description__point"></span>
                        <span data-destination="2" class="description__point"></span>
                        <div class="description__img-wrapper">
                            <img src="/img/d-1-en.png" data-src-ru="/img/d-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-wrapper description-wrapper--2">
            <div class="description description--2">
                <div class="description__header-text">
                    <h3 data-localestring="base.k34" class="description__header">Сокращение разрыва между планом и фактом</h3>
                    <p data-localestring="base.k35" class="description__subheader">Автоматическое построение диаграмм Гантта на основании связей между задачами, исполнителей и приоритетов</p>
                </div>
                <div class="description__main">
                    <div class="description__text-block">
                        <div class="description__paragraph" data-point="1">
                            <h3 data-localestring="base.k36">Диаграмма Гантта для требований </h3>
                            <p data-localestring="base.k37">Сравнение планового графика с динамически изменяемым фактическим ходом проекта </p>
                        </div>
                        <div class="description__paragraph" data-point="2">
                            <h3 data-localestring="base.k38">Диаграмма Гантта для задач</h3>
                            <p data-localestring="base.k39">Автоматическое построение графика на причинно-следственных связях и ручное уточнение по связям исполнения</p>
                        </div>
                    </div>
                    <div class="description__img-block">
                        <span data-destination="1" class="description__point"></span>
                        <span data-destination="2" class="description__point"></span>
                        <div class="description__img-wrapper">
                            <img src="/img/d-2-en.png" data-src-ru="/img/d-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-wrapper description-wrapper--3">
            <div class="description description--3">
                <div class="description__header-text">
                    <h3 data-localestring="base.k40" class="description__header">Управление требованиями</h3>
                    <p data-localestring="base.k41" class="description__subheader">Идентификация, документирование, отслеживание, приоритизация </p>
                </div>
                <div class="description__main">
                    <div class="description__text-block">
                        <div class="description__paragraph" data-point="1">
                            <h3 data-localestring="base.k42">Классификация требований </h3>
                            <p data-localestring="base.k43">Требования разбиты по типам и имеют уникальные поля, можно устанавливать взаимосвязи и зависимости</p>
                        </div>
                        <div class="description__paragraph" data-point="2">
                            <h3 data-localestring="base.k44">Констрейны</h3>
                            <p data-localestring="base.k45">К любому типу требования можно указать некоторое правило</p>
                        </div>
                        <div class="description__paragraph" data-point="3">
                            <h3 data-localestring="base.k46">Приоритеты</h3>
                            <p data-localestring="base.k47">Требованиям устанавливаются приоритеты, которые влияют на дальнейшую последовательность исполнения задач</p>
                        </div>
                    </div>
                    <div class="description__img-block">
                        <span data-destination="1" class="description__point"></span>
                        <span data-destination="2" class="description__point"></span>
                        <span data-destination="3" class="description__point"></span>
                        <div class="description__img-wrapper">
                            <img src="/img/d-3-en.png" data-src-ru="/img/d-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-wrapper description-wrapper--4">
            <div class="description description--4">
                <div class="description__header-text">
                    <h3 data-localestring="base.k48" class="description__header">Планирование спринта </h3>
                    <p data-localestring="base.k49" class="description__subheader">Возможность контролировать задержки и простои в процессе исполнения</p>
                </div>
                <div class="description__main">
                    <div class="description__text-block">
                        <div class="description__paragraph" data-point="1">
                            <h3 data-localestring="base.k50">Учет зависимостей при планировании</h3>
                            <p data-localestring="base.k51">Поставив задачу на спринт, система автоматически подтянет все зависимые задачи и распределит их на <br>ожидающий этап и готовый к работе</p>
                        </div>
                        <div class="description__paragraph" data-point="2">
                            <h3 data-localestring="base.k52">Назначение исполнителей</h3>
                            <p data-localestring="base.k53">Автоматическое распределение и мануальное назначение задач между исполнителями с учетом их навыков</p>
                        </div>
                        <div class="description__paragraph" data-point="3">
                            <h3 data-localestring="base.k54">Нагрузка и простои</h3>
                            <p data-localestring="base.k55">Система автоматически отображает нагрузку на исполнителей и их простои</p>
                        </div>
                    </div>
                    <div class="description__img-block">
                        <span data-destination="1" class="description__point"></span>
                        <span data-destination="2" class="description__point"></span>
                        <span data-destination="3" class="description__point"></span>
                        <div class="description__img-wrapper">
                            <img src="/img/d-4-en.png" data-src-ru="/img/d-4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-wrapper description-wrapper--5">
            <div class="description description--5">
                <div class="description__header-text">
                    <h3 data-localestring="base.k56" class="description__header">Управление исполнением</h3>
                    <p data-localestring="base.k57" class="description__subheader">Гибкая настройка индивидуальных процессов исполнения</p>
                </div>
                <div class="description__main">
                    <div class="description__text-block">
                        <div class="description__paragraph" data-point="1">
                            <h3 data-localestring="base.k58">Настройка роли</h3>
                            <p data-localestring="base.k59">Настройка индивидуального процесса для каждого вида технологии</p>
                        </div>
                        <div class="description__paragraph" data-point="2">
                            <h3 data-localestring="base.k60">Настройка процесса</h3>
                            <p data-localestring="base.k61">Настройка индивидуального поведения исполнителя в каждой роли на процессе</p>
                        </div>
                        <div class="description__paragraph" data-point="3">
                            <h3 data-localestring="base.k62">Настройка Kanban доски</h3>
                            <p data-localestring="base.k63">По выбранному параметру - исполнитель, технология, роль</p>
                        </div>
                    </div>
                    <div class="description__img-block">
                        <span data-destination="1" class="description__point"></span>
                        <span data-destination="2" class="description__point"></span>
                        <span data-destination="3" class="description__point"></span>
                        <div class="description__img-wrapper">
                            <img src="/img/d-5-en.png" data-src-ru="/img/d-5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="download">
        <div class="container">
            <div class="download__block">
                <div class="download__img"></div>
                <h3 data-localestring="base.k116" class="download__block-header">Пользовательская документация</h3>
                <a href="#" class="download__btn pop-up-button" data-destenation="pop-up-user-documentation"></a>
            </div>
            <div class="download__block">
                <div class="download__img"></div>
                <h3 data-localestring="base.k117" class="download__block-header">Техническая документация</h3>
                <a href="#" class="download__btn pop-up-button" data-destenation="pop-up-technical-documentation"></a>
            </div>
            <div class="download__block download__block--product-sheet">
                <div class="download__img download__img--fill"></div>
                <h3  data-localestring="base.k118" class="download__block-header">Презентация продукта</h3>
                <a href="#" class="download__btn pop-up-button" data-destenation="pop-up-product-sheet"></a>
            </div>
        </div>
    </div>
    <!---->
    <div class="directions">
        <div class="container">
            <h2 data-localestring="base.k64" class="page-header">Ключевые направления в разработке ПО</h2>
            <p data-localestring="base.k65" class="directions__subheader">Направлены на сокращение разрыва между планом и фактом</p>
            <div class="directions__list">
                <div class="direction-item">
                    <h3 data-localestring="base.k66" class="direction-item__header"><span class="direction-item__position">1</span>Управление проектом. план и отчетность</h3>
                    <ul class="direction-item__list">
                        <li data-localestring="base.k67">Стратегический менеджмент - от постановки целей до контроля достижений и управление качеством</li>
                        <li data-localestring="base.k68">Моделирование команд на проекте</li>
                        <li>Roadmap</li>
                        <li data-localestring="base.k69">Отчеты рабочего времени (time sheets) и продуктивности</li>
                    </ul>
                </div>
                <div class="direction-item">
                    <h3 data-localestring="base.k70" class="direction-item__header"><span class="direction-item__position">2</span>Управление командой и коммуникация</h3>
                    <ul class="direction-item__list">
                        <li data-localestring="base.k71">настройка ролей, навыков и доступов</li>
                        <li data-localestring="base.k72">совместная работа</li>
                        <li data-localestring="base.k73">лента активности команды</li>
                        <li data-localestring="base.k74">чат</li>
                    </ul>
                </div>
                <div class="direction-item">
                    <h3 data-localestring="base.k75" class="direction-item__header"><span class="direction-item__position">3</span>Управление требованиями</h3>
                    <ul class="direction-item__list">
                        <li data-localestring="base.k76">классификация требований</li>
                        <li data-localestring="base.k77">планирование продукта</li>
                        <li data-localestring="base.k78">проектирование функций, интерфейсов, ассетов</li>
                        <li data-localestring="base.k79">установление взаимосвязей между требованиями и функциями, между функциями и вехами, между разными функциями</li>
                        <li data-localestring="base.k80">проектирование планов тестирования</li>
                    </ul>
                </div>
                <div class="direction-item">
                    <h3 data-localestring="base.k81" class="direction-item__header"><span class="direction-item__position">4</span>Управление процессом реализации проекта</h3>
                    <ul class="direction-item__list">
                        <li data-localestring="base.k82">Конструктор бизнес процессов под технологии (workflow)</li>
                        <li data-localestring="base.k83">Планирование спринта</li>
                        <li>Smart Kanban</li>
                    </ul>
                </div>
                <div class="direction-item">
                    <h3 data-localestring="base.k84" class="direction-item__header"><span class="direction-item__position">5</span>Управление ветками программного кода</h3>
                    <ul class="direction-item__list">
                        <li data-localestring="base.k85">Управление жизненным циклом программного продукта - dev, stage, production, requirement, hot fix</li>
                    </ul>
                </div>
                <div class="direction-item">
                    <h3 data-localestring="base.k86" class="direction-item__header"><span class="direction-item__position">6</span>Управление качеством</h3>
                    <ul class="direction-item__list">
                        <li data-localestring="base.k87">Continuous Integration Testing - автоматизированные запуски Unit и сценарных тестов</li>
                        <li data-localestring="base.k88">Отчеты об ошибках и автоматизированное создание задач по их исправлению</li>
                        <li data-localestring="base.k89">Continuous Deployment - автоматизированная публикация релизов</li>
                        <li data-localestring="base.k90">Прохождение мануальных тестов, отчетность</li>
                        <!--<li>Отчет по качеству и рискам</li>-->
                    </ul>
                </div>
            </div>
            <p data-localestring="base.k91" class="desktop-block directions__bottom-text">и еще 750 функций</p>
        </div>
    </div>
    <!---->
    <footer class="footer">
        <div class="container">
            <div class="footer__start-use">
                <h2 data-localestring="base.k92" class="footer__header">Начните использовать Solid Cube </h2>
                <!-- href="mailto:earlyaccess@solidcube.tech"-->
                <a data-localestring="base.k93" href="javascript:void(0)" data-destenation="pop-up" class="footer__button footer__button--get pop-up-button">Получить ранний доступ</a>
                <a data-localestring="base.k94" href="javascript:void(0)" data-destenation="pop-up-order" class="footer__button footer__button--order pop-up-button">Заказать презентацию</a>
            </div>
            <div class="footer__nav">
                <div class="footer__language">
                    <ul class="footer__language-list language-list">
                        <li data-lg="en" class="current-lang"><a href="/en" class="language__item">English</a></li>
                        <li data-lg="ru"><a href="/ru" class="language__item">Russian</a></li>
                    </ul>
                </div>
                <div class="footer__location">
                    <div class="footer__location-block">
                        <h3 data-localestring="base.k95">Швейцария</h3>
                        <p>Attracti S.a.r.l</p>
                        <p>Chemin de Champ-Blanchon 55
                            <br>1422 Grandson
                        </p>
                    </div>
                    <div class="footer__location-block">
                        <h3 data-localestring="base.k96">Украина</h3>
                        <p data-localestring="base.k97">OOO Solid Cube</p>
                        <p data-localestring="base.k115">04070, г. Киев, ул. Почайнинская, 12Б</p>
                    </div>
                </div>
                <!--<div class="footer__menu">
                    <div class="footer__menu-block desktop-block">
                        <h3 data-localestring="base.k98">рубрики</h3>
                        <a href="#" data-localestring="base.k99">Новости</a>
                        <a href="#" data-localestring="base.k100">Прайс</a>
                        <a href="#" data-localestring="base.k101">Команда</a>
                    </div>
                    <div class="footer__menu-block">
                        <h3 data-localestring="base.k102">рубрики</h3>
                        <a href="#" data-localestring="base.k103">Новости</a>
                        <a href="#" data-localestring="base.k104">Прайс</a>
                        <a href="#" data-localestring="base.k105">Блог</a>
                        <a href="#" data-localestring="base.k106">Продукт</a>
                        <a href="#" data-localestring="base.k107">Команда</a>
                    </div>
                    <div class="footer__menu-block">
                        <h3 data-localestring="base.k108">О компании</h3>
                        <a href="#" data-localestring="base.k109">Компания</a>
                        <a href="#" data-localestring="base.k110">Поддержка</a>
                        <a href="#" data-localestring="base.k111">Контакты</a>
                        <a href="#" data-localestring="base.k112">Документация</a>
                    </div>
                </div>-->
            </div>
            <!--<div class="footer__policy">
                <p data-localestring="base.k113">Условия использования</p>
                <p data-localestring="base.k114">Политика конфиденциальности</p>
            </div>-->
            <div class="mobile-block footer__copityght">&copy;Solid Cube</div>
        </div>
    </footer>


</div>