<div class="min-gap">
    <div class="container">
        <h2 class="page-header">Достижение минимального разрыва между оценочными и реальными сроками работ</h2>
        <div class="min-gap__text-container">
            <div class="min-gap__text-block">
                <h3>Технологии</h3>
                <p>Искусственный интелект и Автоматизация процессов</p>
            </div>
            <div class="min-gap__text-block">
                <h3>Методологии</h3>
                <p>Управление изменениями и Риск менеджемнт</p>
            </div>
        </div>
    </div>
</div>