<div class="min-gap desktop-block">
    <div class="container">
        <h2 class="page-header">Достижение минимального разрыва между оценочными и реальными сроками работ</h2>
        <div class="min-gap__text-container">
            <div class="min-gap__text-block">
                <h3>Технологии</h3>
                <p>Автоматизация процессов и учет изменений в режиме реального времени</p>
            </div>
            <div class="min-gap__text-block">
                <h3>Методологии</h3>
                <p>Water-Scrum-Fall</p>
            </div>
        </div>
    </div>
</div>