<div class="new-capabilities">
    <div class="container">
        <h2 class="new-capabilities__header">Новые возможности</h2>

        <div class="new-capabilities--block">
            <div class="capitabilitie capitabilitie--1">

                <div class="capitabilitie__header">
                    <span class="capitabilitie__id">F.PM.0001</span>
                    <span class="capitabilitie__name">AI</span>
                    <div class="capitabilitie__numbers">
                        <span class="capitabilitie__number capitabilitie__number--1">20 </span>
                        <span class="capitabilitie__number capitabilitie__number--2">365 д </span>
                        <span class="capitabilitie__number capitabilitie__number--3">10</span>
                    </div>
                </div>

                <div class="capitabilitie__content">
                    Возможность управлять намного более сложными проектами
                </div>

                <div class="capitabilitie__footer">
                    <span class="capitabilitie__post">Project managment</span>
                    <span class="capitabilitie__progress">
                    <span class="capitabilitie__progress-line"></span>
                    </span>
                    <div class="capitabilitie__condition">
                        <div class="capitabilitie__condition-list">
                            <span class="capitabilitie__condition--preview">preview</span>
                            <span class="capitabilitie__condition--testing">testing</span>
                            <span class="capitabilitie__condition--done">done</span>
                            <span class="capitabilitie__condition--waiting">waiting</span>
                            <span class="capitabilitie__condition--doing">doing</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="capitabilitie capitabilitie--2">

                <div class="capitabilitie__header">
                    <span class="capitabilitie__id">F.PM.0001</span>
                    <span class="capitabilitie__name">AI</span>
                    <div class="capitabilitie__numbers">
                        <span class="capitabilitie__number capitabilitie__number--1">20 </span>
                        <span class="capitabilitie__number capitabilitie__number--2">365 д </span>
                        <span class="capitabilitie__number capitabilitie__number--3">10</span>
                    </div>
                </div>

                <div class="capitabilitie__content">
                    Возможность управлять намного более сложными проектами
                </div>

                <div class="capitabilitie__footer">
                    <span class="capitabilitie__post">Project managment</span>
                    <span class="capitabilitie__progress">
                    <span class="capitabilitie__progress-line"></span>
                    </span>
                    <div class="capitabilitie__condition">
                        <div class="capitabilitie__condition-list">
                            <span class="capitabilitie__condition--preview">preview</span>
                            <span class="capitabilitie__condition--testing">testing</span>
                            <span class="capitabilitie__condition--done">done</span>
                            <span class="capitabilitie__condition--waiting">waiting</span>
                            <span class="capitabilitie__condition--doing">doing</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="capitabilitie capitabilitie--3">

                <div class="capitabilitie__header">
                    <span class="capitabilitie__id">F.PM.0001</span>
                    <span class="capitabilitie__name">AI</span>
                    <div class="capitabilitie__numbers">
                        <span class="capitabilitie__number capitabilitie__number--1">20 </span>
                        <span class="capitabilitie__number capitabilitie__number--2">365 д </span>
                        <span class="capitabilitie__number capitabilitie__number--3">10</span>
                    </div>
                </div>

                <div class="capitabilitie__content">
                    Возможность управлять намного более сложными проектами
                </div>

                <div class="capitabilitie__footer">
                    <span class="capitabilitie__post">Project managment</span>
                    <span class="capitabilitie__progress">
                    <span class="capitabilitie__progress-line"></span>
                    </span>
                    <div class="capitabilitie__condition">
                        <div class="capitabilitie__condition-list">
                            <span class="capitabilitie__condition--preview">preview</span>
                            <span class="capitabilitie__condition--testing">testing</span>
                            <span class="capitabilitie__condition--done">done</span>
                            <span class="capitabilitie__condition--waiting">waiting</span>
                            <span class="capitabilitie__condition--doing">doing</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="capitabilitie capitabilitie--4">

                <div class="capitabilitie__header">
                    <span class="capitabilitie__id">F.PM.0001</span>
                    <span class="capitabilitie__name">AI</span>
                    <div class="capitabilitie__numbers">
                        <span class="capitabilitie__number capitabilitie__number--1">20 </span>
                        <span class="capitabilitie__number capitabilitie__number--2">365 д </span>
                        <span class="capitabilitie__number capitabilitie__number--3">10</span>
                    </div>
                </div>

                <div class="capitabilitie__content">
                    Возможность управлять намного более сложными проектами
                </div>

                <div class="capitabilitie__footer">
                    <span class="capitabilitie__post">Project managment</span>
                    <span class="capitabilitie__progress">
                    <span class="capitabilitie__progress-line"></span>
                    </span>
                    <div class="capitabilitie__condition">
                        <div class="capitabilitie__condition-list">
                            <span class="capitabilitie__condition--preview">preview</span>
                            <span class="capitabilitie__condition--testing">testing</span>
                            <span class="capitabilitie__condition--done">done</span>
                            <span class="capitabilitie__condition--waiting">waiting</span>
                            <span class="capitabilitie__condition--doing">doing</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="capitabilitie capitabilitie--5">

                <div class="capitabilitie__header">
                    <span class="capitabilitie__id">F.PM.0001</span>
                    <span class="capitabilitie__name">AI</span>
                    <div class="capitabilitie__numbers">
                        <span class="capitabilitie__number capitabilitie__number--1">20 </span>
                        <span class="capitabilitie__number capitabilitie__number--2">365 д </span>
                        <span class="capitabilitie__number capitabilitie__number--3">10</span>
                    </div>
                </div>

                <div class="capitabilitie__content">
                    Возможность управлять намного более сложными проектами
                </div>

                <div class="capitabilitie__footer">
                    <span class="capitabilitie__post">Project managment</span>
                    <span class="capitabilitie__progress">
                    <span class="capitabilitie__progress-line"></span>
                    </span>
                    <div class="capitabilitie__condition">
                        <div class="capitabilitie__condition-list">
                            <span class="capitabilitie__condition--preview">preview</span>
                            <span class="capitabilitie__condition--testing">testing</span>
                            <span class="capitabilitie__condition--done">done</span>
                            <span class="capitabilitie__condition--waiting">waiting</span>
                            <span class="capitabilitie__condition--doing">doing</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="capitabilitie capitabilitie--6">

                <div class="capitabilitie__header">
                    <span class="capitabilitie__id">F.PM.0001</span>
                    <span class="capitabilitie__name">AI</span>
                    <div class="capitabilitie__numbers">
                        <span class="capitabilitie__number capitabilitie__number--1">20 </span>
                        <span class="capitabilitie__number capitabilitie__number--2">365 д </span>
                        <span class="capitabilitie__number capitabilitie__number--3">10</span>
                    </div>
                </div>

                <div class="capitabilitie__content">
                    Возможность управлять намного более сложными проектами
                </div>

                <div class="capitabilitie__footer">
                    <span class="capitabilitie__post">Project managment</span>
                    <span class="capitabilitie__progress">
                    <span class="capitabilitie__progress-line"></span>
                    </span>
                    <div class="capitabilitie__condition">
                        <div class="capitabilitie__condition-list">
                            <span class="capitabilitie__condition--preview">preview</span>
                            <span class="capitabilitie__condition--testing">testing</span>
                            <span class="capitabilitie__condition--done">done</span>
                            <span class="capitabilitie__condition--waiting">waiting</span>
                            <span class="capitabilitie__condition--doing">doing</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>