<div class="new-capabilities">
    <div class="container">
        <h2 class="new-capabilities__header">Новые возможности</h2>

        <div class="capitabilitie capitabilitie--1">

            <div class="capitabilitie__header">
                <span class="capitabilitie__name"></span>
                <span class="capitabilitie__category"></span>
                <div class="capitabilitie__numbers">
                    <span class="capitabilitie__number capitabilitie__number--1"></span>
                    <span class="capitabilitie__number capitabilitie__number--2"></span>
                    <span class="capitabilitie__number capitabilitie__number--3"></span>
                </div>
            </div>

            <div class="capitabilitie__content">

            </div>

            <div class="capitabilitie__footer">
                <span class="capitabilitie__post"></span>
                <span class="capitabilitie__progress"></span>
                <span class="capitabilitie__condition"></span>
            </div>

        </div>

    </div>
</div>