<div class="slider">
    <div class="slider__container container__main">
        <div class="slides" data-index="0">
            <div class="slides__list">    
                <img src="/img/slide-1.jpg" alt="" class="slider__image">
                <img src="/img/slide-2.jpg" alt="" class="slider__image">
                <img src="/img/slide-3.jpg" alt="" class="slider__image">
            </div>
        </div>

        <div>
            <div class="slider__text">Welcome To</div>
            <div class="slider__caption">Business Casual</div>
            <div class="line"></div>
            <div class="slider__text_by">
                <span class="normal">by</span> start gulp
            </div>
        </div>
    </div>
</div>