<div class="video-wrapper">
    <div class="video-block">
        <video src="img/video.mp4">
    </video>
        <div class="controllers">
            <div class="video-fullscreen"></div>
            <div class="video-play"></div>
            <div class="video-description">
                <h3>Roadmap</h3>
                <p>Достижение минимального разрыва между оценочными и реальными</p>
            </div>
        </div>
        <script>
            let video = document.querySelector('video');
            let videoBlock = document.querySelector('.video-block');
            let fullscreen = document.querySelector('.video-fullscreen');
            let playButton = document.querySelector('.video-play');
            let descriptionHeader = document.querySelector('.video-description h3')
            let descriptionParagraph = document.querySelector('.video-description p')


            video.onclick = function() {
                playPause(video);
            };

            playButton.onclick = function() {
                playPause(video);
            };

            function playPause(video) {
                if (video.paused) {
                    video.play();
                    playButton.style.zIndex = '-1';
                    var timer = setInterval(showText, 1000);
                } else {
                    video.pause();
                    playButton.style.zIndex = '1';
                    clearInterval(timer);
                }
            }


            fullscreen.onclick = function() {
                toggleFullScreen(videoBlock);
            }

            function toggleFullScreen(elem) {
                if (!elem.fullscreenElement && // alternative standard method
                    !elem.mozFullScreenElement && !document.webkitFullscreenElement) { // current working methods
                    if (elem.requestFullscreen) {
                        elem.requestFullscreen();
                    } else if (elem.mozRequestFullScreen) {
                        elem.mozRequestFullScreen();
                    } else if (elem.webkitRequestFullscreen) {
                        elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    }
                } else {
                    if (document.cancelFullScreen) {
                        document.cancelFullScreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitCancelFullScreen) {
                        document.webkitCancelFullScreen();
                    }
                    console.log('hi');
                }
            }






            function showText() {

                if (video.currentTime > 3) {
                    descriptionHeader.innerHTML = 'Test 2';
                    descriptionParagraph.innerHTML = 'Second line'
                } else if (video.currentTime > 1) {
                    descriptionHeader.innerHTML = 'Test';
                    descriptionParagraph.innerHTML = 'First line'
                }
            }
        </script>

    </div>
</div>