@keyframes left-to-bottom {
    0% {
        left: -100px;
        opacity: 1;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes top-to-bottom {
    0% {
        top: -100px;
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes right-to-left {
    0% {
        right: -100px;
        opacity: 1;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes bottom-to-top {
    0% {
        bottom: -100px;
        opacity: 1;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes preview-done {
    0% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    75% {
        left: -100%;
    }
    100% {
        left: -200%;
    }
}

@keyframes doing-done {
    0% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

@keyframes load {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0;
    }
}

.new-capabilities--animated {
    .capitabilitie--1 {
        animation: 'left-to-bottom' 0.7s 1s ease forwards;
        .capitabilitie__condition-list {
            animation: 'preview-done' 4s 2.7s ease forwards;
        }
        .capitabilitie__progress-line {
            animation: 'load' 2s 3.7s ease forwards;
        }
    }
    .capitabilitie--2 {
        animation: 'top-to-bottom' 0.7s 1.2s ease forwards;
        .capitabilitie__condition-list {
            animation: 'preview-done' 4s 3.7s ease forwards;
        }
        .capitabilitie__progress-line {
            animation: 'load' 2s 4.7s ease forwards;
        }
    }
    .capitabilitie--3 {
        animation: 'right-to-left' 0.7s 1.4s ease forwards;
    }
    .capitabilitie--4 {
        animation: 'left-to-bottom' 0.7s 1.6s ease forwards;
        .capitabilitie__condition-list {
            animation: 'preview-done' 4s 4.7s ease forwards;
        }
        .capitabilitie__progress-line {
            animation: 'load' 2s 5.7s ease forwards;
        }
    }
    .capitabilitie--5 {
        animation: 'bottom-to-top' 0.7s 1.8s ease forwards;
        .capitabilitie__condition-list {
            animation: 'preview-done' 4s 5.7s ease forwards;
        }
        .capitabilitie__progress-line {
            animation: 'load' 2s 6.7s ease forwards;
        }
    }
    .capitabilitie--6 {
        animation: 'right-to-left' 0.7s 2s ease forwards;
        .capitabilitie__condition-list {
            animation: 'preview-done' 4s 6.7s ease forwards;
        }
        .capitabilitie__progress-line {
            animation: 'load' 2s 7.7s ease forwards;
        }
    }
}

@media screen and (max-width: 1080px) {
    .new-capabilities--animated {
        .capitabilitie {
            animation: none;
        }
        .capitabilitie--1 {
            .capitabilitie__condition-list {
                animation-delay: 0s;
            }
            .capitabilitie__progress-line {
                animation-delay: 1s;
            }
        }
        .capitabilitie--2 {
            .capitabilitie__condition-list {
                animation-delay: 1s;
            }
            .capitabilitie__progress-line {
                animation-delay: 2s;
            }
        }
        .capitabilitie--3 {
            .capitabilitie__condition-list {
                animation-delay: 2s;
            }
            .capitabilitie__progress-line {
                animation-delay: 3s;
            }
        }
        .capitabilitie--4 {
            .capitabilitie__condition-list {
                animation-delay: 3s;
            }
            .capitabilitie__progress-line {
                animation-delay: 4s;
            }
        }
        .capitabilitie--5 {
            .capitabilitie__condition-list {
                animation-delay: 4s;
            }
            .capitabilitie__progress-line {
                animation-delay: 5s;
            }
        }
        .capitabilitie--6 {
            .capitabilitie__condition-list {
                animation-delay: 5s;
            }
            .capitabilitie__progress-line {
                animation-delay: 6s;
            }
        }
    }
}