.contact__container {
    background-color: $background-color;
    margin-top: 20px;
    padding: 48px 29px 36px 29px;
    box-sizing: border-box;
}

.contact__line {
    width: 400px;
    height: 1px;
    margin: 0 auto;
    background-color: gray;
}

.contact__caption {
    text-transform: uppercase;
    font-family: $josefin-font;
    font-size: 19px;
    text-align: center;
    padding: 21px 0;
    letter-spacing: 0.4px;
}

.contact__content {
    display: flex;
    justify-content: space-between;
}

.fake__map {
    width: 739px;
    height: 406px;
    background-color: pink;
    margin-top: 19px;
}

.contact__content_right {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 26px;
    margin-right: 118px;
}

.contact__info {
    padding-bottom: 20px;
}

.contact__address {
    line-height: 24px;
}

.contact__form_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding-top: 24px;
    letter-spacing: 0.3px;
    line-height: 27px;
}

.form__container {
    margin-top: 20px;
    padding-top: 48px;
    background-color: $background-color;
    padding: 48px 29px;
    box-sizing: border-box;
}

.contact__form_box {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    font-size: 15px;
}

.form__box_info {
    display: flex;
    flex-direction: column;
}

.contact__input {
    margin-top: 9px;
    width: 352px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 31px;
}

.form__textarea_box {
    display: flex;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    font-weight: bold;
    margin-top: 20px;
}

.contact__textarea {
    margin-top: 10px;
    height: 127px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact__form_button {
    font-family: 'Open Sans', sans-serif;
    width: 73px;
    margin-top: 16px;
    font-size: 14px;
    padding: 7px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}


@media screen and (max-width: 980px) {
    .blog__img {
        width: 100%;
    }

    .contact__caption {
        padding: 22px 0;
    }

    .fake__map {
        width: 450px;
        height: 221px;
        margin-right: 45px;
    }
    
    .contact__content_right {
        font-size: 16px;
    }

    .contact__form_text {
        font-size: 15px;
    }

    .contact__input{ 
        width: 218px;
    }

}

@media screen and (max-width: 720px) {
    .fake__map {
        width: 380px;
        height: 200px;  
        margin-right: 20px;
    }

    .contact__content_right {   
        font-size: 14px;
        margin-right: 0;
        line-height: 14px;
    }

    .contact__caption {
        font-size: 15px;
        padding: 17px 0;
    }

    .contact__container,
    .form__container {
        padding-top: 25px;
    }

    .contact__form_text {
        padding-top: 13px;
    }

    .contact__form_box {
        font-size: 13px;
    }

    .contact__input {
        width: 150px;
    }
}

@media screen and (max-width: 570px) {
    .fake__map {
        width: 239px;
        height: 150px;
    }

    .contact__content_right {
        font-size: 12px;
    }

    .contact__input {
        width: 115px;
    }
}