.description {
    min-width: 1280px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.description-wrapper--1 {
    background: url(../img/description-bg-1.png) no-repeat;
    background-size: cover;
}

.description-wrapper--3 {
    background: url(../img/description-bg-2.png) no-repeat;
    background-size: cover;
}

.description-wrapper--5 {
    background: url(../img/description-bg-3.png) no-repeat;
    background-size: cover;
}

.description__header {
    padding: 80px 0 0 0;
    text-align: center;
    color: #444458;
    font: 22px/33px $semibold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.description__subheader {
    font: 24px/36px $regular;
    color: #455273;
    text-align: center;
    padding: 15px 0 0;
    width: 970px;
    margin: 0 auto;
}

.description__main {
    display: flex;
    padding: 65px 0 0;
}

.description-wrapper:nth-child(2n) .description__main {
    flex-direction: row-reverse;
}

.description-wrapper:nth-child(2n) .description__text-block {
    text-align: left;
    padding: 50px 0 0 50px;
    align-items: flex-start;
}

.description-wrapper:nth-child(2n) .description__img-block {
    margin: 30px 50px 91px 2px;
    padding: 15px 15px 15px 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.description__text-block {
    min-width: 50%;
    padding: 50px 50px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    text-align: right;
    align-items: flex-end;
}

.description__paragraph {
    padding: 27px 0;
    width: 460px;
}

.description__paragraph h3 {
    padding-bottom: 8px;
}

.description__img-block {
    min-width: 670px;
    margin: 30px 0 91px 52px;
    height: 500px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    padding: 15px 0 15px 15px;
    position: relative;
    background-color: #F7F7F7;
}

.description__point {
    height: 25px;
    width: 25px;
    background: $main-blue;
    position: absolute;
    border-radius: 100%;
    box-shadow: -2px 3px 12px -5px;
    transition: all 0.2s;
}

.description__point:hover {
    height: 45px;
    width: 45px;
    margin: -10px 0 0 -10px;
}

.description__img-block img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
}

.description__img-block:after {
    content: "";
    width: 1px;
    position: absolute;
    background: #c4c4c4;
    top: -35px;
    right: -1px;
    height: 570px;
}

.description-wrapper:nth-child(2n) .description__img-block:after {
    content: "";
    width: 1px;
    position: absolute;
    background: #c4c4c4;
    top: -35px;
    right: initial;
    left: -1px;
    height: 560px;
}

.description__paragraph--current {
    border: 1px solid #D8D8D8;
    padding: 18px 20px 17px;
    border-radius: 5px;
    margin: 8px -21px 9px;
}

.description__paragraph--current h3 {
    color: $main-blue;
}

.description-wrapper--5 {
    .description__header {
        padding-top: 70px;
    }
    .description__subheader {
        width: 900px;
        margin: 0 auto;
    }
    .description__main {
        flex-direction: column;
    }
    .description__text-block {
        flex-direction: row;
        align-items: flex-start;
        height: auto;
    }
    .description {
        width: 1280px;
    }
    .description__paragraph {
        width: 400px;
        box-sizing: border-box;
        padding: 23px 59px 24px 38px;
        text-align: left;
        margin: 8px 2px -2px;
        border: 1px solid transparent;
    }
    .description__text-block {
        padding: 9px 0 0;
    }
    .description__img-block:after {
        content: none;
    }
    .description__img-block {
        margin: 75px auto 0;
        width: 997px;
        height: 343px;
        box-sizing: border-box;
        padding: 15px 15px 0 15px;
        overflow: hidden;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .description__paragraph--current {
        border: 1px solid #D8D8D8;
    }
}

// description points:
.description--1 {
    [data-destination="1"] {
        top: 27%;
        left: 33%;
    }
    [data-destination="2"] {
        top: 47.7%;
        left: 19.2%;
    }
}

.description--2 {
    [data-destination="1"] {
        top: 27%;
        left: 30.8%;
    }
    [data-destination="2"] {
        top: 47.7%;
        left: 17.2%;
    }
}

.description--3 {
    [data-destination="1"] {
        top: 27%;
        left: 33%;
    }
    [data-destination="2"] {
        top: 47.7%;
        left: 19.2%;
    }
    [data-destination="3"] {
        top: 60%;
        left: 60%;
    }
}

.description--4 {
    [data-destination="1"] {
        top: 27%;
        left: 30.8%;
    }
    [data-destination="2"] {
        top: 47.7%;
        left: 17.2%;
    }
    [data-destination="3"] {
        top: 60%;
        left: 60%;
    }
}

.description--5 {
    [data-destination="1"] {
        top: 27%;
        left: 33%;
    }
    [data-destination="2"] {
        top: 47.7%;
        left: 19.2%;
    }
    [data-destination="3"] {
        top: 60%;
        left: 60%;
    }
}

@media screen and (max-width: 1280px) {
    .mobile-block.change-position {
        height: 334px;
        max-width: 334px;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        display: block;
        padding: 0 45px 23px;
        box-sizing: border-box;
        width: 100%;
        margin: 27px auto 33px;
        h2 {
            font: 26px/28px $bold;
            color: $main-blue;
            padding: 22px 0 18px;
            text-align: center;
        }
        p {
            writing-mode: vertical-rl;
            -webkit-writing-mode: vertical-rl;
            width: 243px;
            height: 243px;
            background: $main-blue;
            color: white;
            border-radius: 5px;
            padding: 28px 80px 5px;
            box-sizing: border-box;
            font: 22px/31px $regular;
        }
        span {
            display: block;
            font-family: $bold;
        }
    }
    .descriptions {
        height: 350px;
        overflow-y: hidden;
        overflow-x: scroll;
        display: flex;
    }
    .description-wrapper:nth-child(n) {
        .description {
            display: flex;
            height: 100%;
            max-width: 1610px;
            width: 1610px;
        }
        .description__header-text {
            min-width: 457.5px;
            width: 457.5px;
            padding: 80px 22px 0 47px;
            box-sizing: border-box;
        }
        .description__header {
            text-align: left;
            // padding: 80px 22px 0 47px;
            padding: 0;
            font-size: 26px;
            line-height: 35px;
            text-transform: inherit;
        }
        .description__subheader {
            font-size: 21px;
            line-height: 30px;
            text-align: left;
            padding: 15px 0 0;
            width: 100%;
            box-sizing: border-box;
        }
        .description__img-block {
            height: 350px;
            width: 611px;
        }
        .description__main {
            padding: 0;
            justify-content: center;
            flex-direction: row;
        }
        .description__img-block {
            height: 325px;
            min-width: 611px;
            width: 611px;
            order: -1;
            margin: 12px 0 13px;
            box-sizing: border-box;
            padding: 7.5px;
            border-radius: 5px;
        }
        .description__img-block:after {
            content: none;
        }
        // .description__text-block,
        .description__text-block {
            min-width: 540px;
            padding: 0 60px 0 30px;
            align-items: flex-start;
            // justify-content: flex-start;
            height: auto;
            text-align: left;
            flex-direction: column;
        }
        .description__point {
            display: none;
        }
        .description__paragraph {
            width: auto;
            padding: 12px 0;
            h3 {
                padding-bottom: 11px;
                color: #1D1D3B;
                font-size: 18px;
                line-height: 22px;
            }
            p {
                font-size: 16px;
                color: #586981;
                line-height: 22px;
            }
        }
    }
    .description-wrapper {
        background: none;
    }
    .description-wrapper:nth-child(2n) {
        background: #1D1D3B;
        .description__paragraph h3,
        .description__paragraph p,
        .description__header,
        .description__subheader {
            color: white;
        }
    }
    @media (orientation: landscape) {
        .mobile-block.change-position p {
            -webkit-writing-mode: horizontal-tb;
            -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
            padding: 80px 25px 0;
        }
    }
}