.footer {
    background: url('../img/footer-bg.png');
    background-size: cover;
    overflow: hidden;
}

.footer__start-use {
    // border-bottom: 2px solid #F2F5F7;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    padding: 50px 0 7px;
    height: 204px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.footer__start-use:after {
    border-bottom: 2px solid #F2F5F7;
    position: absolute;
    bottom: 0;
    content: '';
    width: 1500px;
    margin-left: -110px;
}

.footer__header {
    font: 30px/28px $regular;
    color: #4A4A62;
    width: 529px;
    padding-left: 98px;
}

.footer__button {
    height: 40px;
    font: 15px/20px $bold;
    letter-spacing: 0.3px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.3)
}

.footer__button--get {
    background: $main-blue;
    color: #fff;
    padding: 0 24px;
}

.footer__button--order {
    background: #fff;
    color: $main-blue;
    padding: 0 17px;
}

.footer__nav {
    display: flex;
    padding-top: 62px;
}

.footer__language {
    color: $main-blue;
    font: 15px/36px $semibold;
    width: 256px;
    box-sizing: border-box;
    margin-left: 101px;
}

.footer__language-list {
    cursor: pointer;
}

.footer__language-list:before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    border: 3px solid transparent;
    border-top: 6px solid $main-blue;
    margin: 14px 0 0 -20px;
}

.footer__location-block {
    padding-bottom: 11px;
}

.footer__location {
    width: 190px;
    padding: 2px 109px 0 0;
}

.footer__location-block {
    padding-bottom: 11px;
}

.footer__location {
    h3 {
        font-size: 12px;
        color: #000;
        line-height: 26px;
        padding-bottom: 5px;
    }
    p {
        font-size: 12px;
        line-height: 17px;
        color: #737373;
        padding-bottom: 6px;
    }
}

.footer__menu {
    display: flex;
    width: 511px;
    padding-top: 3px;
}

.footer__menu {
    h3 {
        font: 14px/28px $bold;
        color: #4A4A62;
        padding-bottom: 12px;
        text-transform: uppercase;
    }
    a {
        font: 15px/26px $regular;
        color: #616161;
        padding-bottom: 5px;
        display: block;
    }
}

.footer__menu-block {
    width: 152px;
}

.footer__policy {
    p {
        font: 12px/21px $regular;
        color: #777;
    }
}

.footer__policy {
    padding: 11px 0 56px 99px;
}

@media screen and (max-width: 1280px) {
    .footer__start-use {
        height: auto;
        padding: 0;
        width: 315px;
        margin: 0 auto;
        flex-direction: column;
    }
    .footer__header {
        font: 30px/43px $light;
        color: $main-blue;
        padding: 52px 50px 19px 0;
        width: auto;
    }
    .footer__button--get {
        align-self: flex-start;
        height: 50px;
    }
    .footer__button--order {
        align-self: flex-start;
        margin-top: 19px;
        height: 50px;
    }
    .footer__start-use:after {
        display: none;
    }
    .footer__nav {
        flex-direction: column;
        padding-top: 74px;
    }
    .footer__language {
        line-height: 22px;
        font-size: 18px;
        padding-left: 21px;
        height: 52px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .footer__language-list:before {
        border: 7px solid transparent;
        border-top: 10px solid #C6C6C6;
        margin: 3px 0 0 311px;
    }
    .footer__language:after {
        position: absolute;
        width: 100%;
        border: 1px solid #DADADA;
        left: 0;
        right: 0;
        content: "";
        height: 50px;
    }
    .footer__menu {
        padding: 33px 0 0 21px;
        min-height: 382px;
        box-sizing: border-box;
        h3 {
            padding-bottom: 10px;
            letter-spacing: 0.6px;
        }
        a {
            padding-bottom: 14px;
            color: $main-gray;
        }
    }
    .footer__location {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .footer__menu-block {
        width: 167px;
    }
    .footer__location:before,
    .footer__location:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        height: 1px;
        background: #DADADA;
    }
    .footer__location-block {
        padding-top: 16px;
    }
    .footer__location-block:first-of-type {
        padding-top: 54px;
    }
    .footer__location-block:last-of-type {
        padding-bottom: 45px;
    }
    .footer__location p {
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 2px;
        color: $main-gray;
    }
    .footer__location h3 {
        font-size: 18px;
        padding: 0 0 7px;
    }
    .footer__policy {
        width: 100%;
        padding: 0;
        text-align: center;
        p {
            color: $main-gray;
            height: 50px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px 0 0;
        }
    }
    .footer__policy p:after {
        content: "";
        width: 100%;
        position: absolute;
        height: 1px;
        background: #DADADA;
        align-self: flex-end;
        left: 0;
        margin-top: 36px;
        box-sizing: border-box;
    }
    .footer__copityght {
        height: 67px;
        font: 14px/25px $regular;
        color: $main-gray;
        padding-top: 15px;
        box-sizing: border-box;
        display: block;
        text-align: center;
    }
}