header {
    height: 756px;
    overflow-y: hidden;
}

.header-wrapper {
    background: url(../img/header-bg.png) no-repeat;
    height: 798px;
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    font: 24px/28px rubikmedium;
    color: #fff;
    padding: 21px 0 0 97px;
    letter-spacing: 0.5px;
}

.nav__menu {
    display: flex;
    padding: 25px 42px 0 0;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    font: 16px/22px $regular;
    color: #fff;
}

.nav__list li a {
    margin: 0 24px;
}

.nav__list li:last-of-type a {
    border: 1px solid white;
    padding: 6px 14px 5px;
    border-radius: 5px;
}

.header-main__header {
    font: 50px/58px "helvetica neue", $light;
    font-weight: 100;
    letter-spacing: 4px;
    width: 1040px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 154px 4px 0 0;
}

.header-main__subheader {
    font: 18px/25px 'helvetica neue', $regular;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 27px 2px 0 0;
    text-align: center;
    color: #fff;
    display: block;
}

.header-main__button {
    box-sizing: border-box;
    height: 50px;
    width: 229px;
    margin: 44px auto 0;
    padding: 16px 0 0 0;
    border-radius: 4px;
    display: block;
    background-color: #fff;
    position: relative;
    font: 15px/20px $bold;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-align: center;
    color: $main-blue;
}

.header__language {
    font: 16px/22px $regular;
    color: #fff;
    text-transform: uppercase;
}

.header__language li {
    display: none;
}

li.header__current-lang {
    display: block;
    position: relative;
    font-family: $light;
}

.header__current-lang a:after {
    content: "";
    border: 3px solid transparent;
    border-top: 4px solid white;
    position: absolute;
    margin-left: 6px;
    top: 10px;
}

@media screen and (max-width: 1080px) {
    header {
        height: 626px;
    }
    .header-wrapper {
        height: 661px;
    }
    .nav__logo {
        font-size: 21px;
        padding: 40px 0 0 20px;
        letter-spacing: 0.6px;
    }
    .nav__menu-btn+.nav__menu {
        display: none;
    }
    .nav__menu-btn {
        padding: 0px 0px 0 0;
        font: 15px/21px $bold;
        color: #fff;
        border-bottom: 1px solid white;
        margin: 45px 21px 0 0;
        height: 21px;
        width: 45px;
        cursor: pointer;
    }
    .header-main__header {
        width: 320px;
        font: 45px/37px $regular;
        padding: 111px 2px 0 0;
        box-sizing: border-box;
        letter-spacing: 0px;
    }
    .header-main__header--m::first-letter {
        text-transform: uppercase;
    }
    .header-main__header--m {
        display: block;
        font: 20px/25px $semibold;
        padding: 22px 0 0 0;
    }
    .header-main__button {
        margin: 73px auto 0;
        width: 295px;
        background: $main-blue;
        color: #fff;
        border-radius: 2px;
    }
}