.container {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
}

p {
    color: $main-gray;
    line-height: 26px;
    font-size: 17px;
    font-family: $regular;
}

h3 {
    color: #1D1D3B;
    line-height: 25px;
    font-size: 18px;
    font-family: $semibold;
}

.mobile-block {
    display: none;
}

.desktop-block {
    display: initial;
}

@media screen and (max-width: 1280px) {
    .mobile-block {
        display: initial;
    }
    body .desktop-block {
        display: none;
    }
    .container {
        width: 375px;
        padding: 0;
        position: static;
    }
    .nav__logo {
        padding: 40px 0 0 17px;
        font-size: 21px;
    }
}