.container {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
}

p {
    color: #586981;
    line-height: 26px;
    font-size: 17px;
    font-family: open_sansregular;
}

h3 {
    color: #1D1D3B;
    line-height: 25px;
    font-size: 18px;
    font-family: open_sanssemibold;
}