$background-color: rgba(255,255,255,0.9);
$josefin-font: 'Josefin Slab', serif;

strong {
    font-weight: bold;
}

body {
    background-image: url(/img/bg.jpg);
}

.container {
    width: 790px;
    margin: 0 auto;
}

.container__main {
    width: 1185px;
    margin: 0 auto;
}

.header__caption {
    font-family: $josefin-font;
    font-size: 67px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 2.8px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.header__location {
    font-family: $josefin-font;
    color: white;
    font-size: 18px;
    letter-spacing: 2.9px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.header__navigation {
    display: flex;
    justify-content: center;
    background-color: $background-color;
}

.navigation__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 40px 43px 38px 30px;
}


// slider

.slider__container {
    background-color: $background-color;
    margin-top: 22px;
    padding: 30px 31px 46px 31px;
    box-sizing: border-box;
    font-family: $josefin-font;
}

.slides {
    display: flex;
    height: 574px;
    overflow: hidden;
}

.slides__list {
    display: flex;
    position: relative;
    transition: left 0.2s ease-in-out;
    left: 0;
}

.slider__image {
    width: 100%;
    flex:  1 0 100%;
    background-color: tan;
    box-sizing: border-box; 
}

.slider__text {
    text-align: center;
    font-size: 21px;
    padding-top: 25px;
}

.slider__caption {
    font-size: 30px;
    font-weight: bold;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 21px;
    letter-spacing: 2.8px;
}
 

.line {
    background-color: black;
    width: 252px;
    height: 2px;
    margin: 0 auto;
    margin-top: 20px;
}

.slider__text_by {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    padding-top: 29px;
    letter-spacing: 1.8px;
}

.normal {
    font-weight: normal;
}

// description block

.description__container {
    margin: 0 auto;
    background-color: $background-color;
    margin-top: 20px;
    padding: 51px 11px 39px 29px;
    box-sizing: border-box;
}

.description__line {
    width: 404px;
    height: 1px;
    background-color: gray;
    margin: 1px auto;
}

.description__caption {
    text-align: center;
    font-family: $josefin-font;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 0 22px 0;
}

.description__img {
    float: left;
    width: 250px;
    margin: 17px 29px 5px 0;
}

.description__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.descroption__text_1 {
    letter-spacing: -0.1px;
    padding-top: 17px;
}

.descroption__text_2 {
    letter-spacing: -0.1px;
    padding-top: 11px;
}

.descroption__text_3 {
    font-family: 'Open Sans', sans-serif;
    padding-top: 11px;
    font-size: 17px;
    letter-spacing: 0.3px;
    line-height: 28px;
}

// boxes block

.boxes__container {
    margin: 0 auto;
    background-color: $background-color;
    margin-top: 20px;
    padding: 52px 7px 41px 7px;
    box-sizing: border-box
}

.boxes__line {
    width: 406px;
    margin: 0 auto;
    height: 1px;
    background-color: black;
}

.boxes__caption {
    text-align: center;
    font-family: $josefin-font;
    font-size: 18px;
    text-transform: uppercase;
    padding: 21px 0 21px 4px;
    letter-spacing: 1.9px;
}

.boxes__text {
    padding: 27px 42px 0 31px;
    font-family: 'Open Sans', sans-serif;
}

.boxes__text_header {
    font-size: 18px;
    letter-spacing: -0.2px;
    padding-bottom: 16px;
}

.boxes__text_content {
    font-size: 17px;
    letter-spacing: 0.3px;
    line-height: 28px;
}

// footer block

.footer {
    background-color: $background-color;
    margin-top: 20px;
    margin-top: 20px;
    padding: 0 56px;
}

.footer__text {
    display: flex;
    justify-content: center;
    font-size: 17px;
    letter-spacing: 0.4px;
    font-family: 'Open Sans', sans-serif;
    padding: 40px 0 40px 0;
}

@media screen and (max-width: 980px) {

    .container__main {
        width: 780px;
    }

    .header__caption {
        font-size: 50px;
    }
    
    .header__location {
        font-size: 13px;
        padding-top: 2px;
    }

    .navigation__item {
        padding: 25px 23px 25px 20px;
        font-size: 15px;
    }

    .slider__caption {
        font-size: 45px;
    }

    .boxes__text_header {
        line-height: 24px;
        font-size: 17px;
    }

    .description__container {
        padding-top: 52px;
    }
}

@media screen and (max-width: 720px) {
    .container {
        width: 690px;
    }

    .container__main {
        width: 620px;
    }

    .description__container {
        padding-top: 33px;
    }

    .slider__text {
        font-size: 18px;
    }

    .slider__caption {
        font-size: 34px;
    }

    .line {
        margin-top: 11px;
    }

    .slider__text_by {
        font-size: 15px;
    }

    .description__caption,
    .boxes__caption {
        font-size: 15px;
        padding: 15px 0;
    }

    .description__text,
    .descroption__text_3,
    .boxes__text {
        font-size: 14px;
    }

    .boxes__container {
        padding-top: 31px;
    }
    
}

@media screen and (max-width: 570px) {
    .container__main {
        width: 470px;
    }

    .description__container {
        padding: 30px 19px 20px 22px;
     }

    .description__img {
        width: 250px;
    }

    .description__text, 
    .descroption__text_3, 
    .boxes__text {
        font-size: 15px;
    }

    .description__caption, 
    .boxes__caption {
        font-size: 18px;
        line-height: 26px;
        padding: 17px 0;
    }

    .footer__text {
        font-size: 13px;
    }

    .container {
        width: 500px;
    }

    .header__location {
        line-height: 21px;
    }
} 