.min-gap {
    background: url('../img/min-gap-bg.png') no-repeat;
    background-size: cover;
    height: 347px;
}

.page-header {
    font: 30px/40px $light;
    color: $main-blue;
    padding: 63px 0 0;
    width: 900px;
    text-align: center;
    margin: 0 auto;
}

.min-gap__text-container {
    display: flex;
    padding: 59px 0 0 52px;
}

.min-gap__text-block {
    width: 500px;
    padding: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    height: 55px;
    justify-content: space-between;
    position: relative;
}

.min-gap__text-block:first-of-type:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 101px;
    right: 1px;
    top: -37px;
    background: -webkit-linear-gradient(top, rgba(225, 225, 225, 0.21), rgba(178, 178, 178, 0.63), rgba(225, 225, 225, 0.25));
    background: linear-gradient(to bottom, rgba(225, 225, 225, 0.21), rgba(178, 178, 178, 0.63), rgba(225, 225, 225, 0.25));
}

// video::-webkit-media-controls-panel {
//     overflow: visible;
// }
// video::-webkit-media-controls-play-button {
//     -webkit-display: flex;
//     -moz-display: flex;
//     -ms-display: flex;
//     -o-display: flex;
//     display: flex;
//     position: relative;
//     background: aqua;
//     top: -14px;
//     left: 50%;
//     display: flex;
//     flex: 2 2 20%;
// }