.video-wrapper {
    width: 1280px;
    margin: 0 auto;
    height: 720px;
    padding: 89px 0;
}

.video-block {
    position: relative;
    width: 100%;
}

video {
    width: 100%;
    display: flex;
    height: auto;
}

.video-fullscreen {
    background: url(../img/fullscreen.png) no-repeat;
    background-size: cover;
    height: 55px;
    width: 57px;
    cursor: pointer;
    position: absolute;
    bottom: 69px;
    right: 87px;
}

.video-play {
    background: url(../img/play.png) no-repeat;
    background-size: cover;
    height: 166px;
    width: 132px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.video-description {
    position: absolute;
    width: 700px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 30px;
    background: #F5F3F3;
    padding: 18px 30px;
}

@media screen and (max-width: 1280px) {
    .video-block {
        padding: 0;
        height: 211px;
        width: 100%;
        max-width: 375px;
    }
    video {
        width: 100%;
        height: auto;
    }
}